body {
  min-height: 2000px;
}
.jumbotron {
  padding-top: 2rem;
  background-color: #f3f4f5;
}

.praktikum h2 {
  color: #000000;
  z-index: 1;
  padding: 20px 25px;
  border: 3px solid;
}

#praktikum {
  background-color: #f3f4f5;
}
